*.jl.cov
*.jl.*.cov
*.jl.mem
deps/build.log
deps/deps.jl
deps/downloads/
deps/usr/
deps/src/

docs/build
docs/Manifest.toml

Manifest.toml

# Circo temp files
roots.txt
circo.out
circo.rec

.history/
